---
# handlers file for kea_deploy

- name: Restart kea-dhcp4-server
  ansible.builtin.systemd:
    name: "{{ kea_dhcp_service }}"
    state: restarted
  when: kea_restart_services

- name: Reload kea-dhcp4-server
  ansible.builtin.systemd:
    name: "{{ kea_dhcp_service }}"
    state: reloaded
  when: kea_restart_services

- name: Restart kea-lease-monitor
  ansible.builtin.systemd:
    name: "{{ kea_monitor_service }}"
    state: restarted
  when:
    - kea_restart_services
    - kea_enable_lease_monitor
  ignore_errors: true  # Ignore if service doesn't exist yet

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart postgresql
  ansible.builtin.systemd:
    name: postgresql
    state: restarted

- name: Reload postgresql
  ansible.builtin.systemd:
    name: postgresql
    state: reloaded
